parameters:
	ignoreErrors:
		-
			message: '#^Method Slam\\P7MReader\\P7MReader\:\:getCertData\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: lib/P7MReader.php
