<phpunit
    bootstrap="./vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
>
    <testsuite name="P7M">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
        </whitelist>
    </filter>
</phpunit>
